
.App {
  margin: 0%;
  padding: 0%;
}
html {
  scroll-behavior: smooth;
}


#mainSection {
  position: relative; 
  background-image: url("/public/images/main1.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0; 
}

#mainSection::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.563); 
  z-index: -1; 
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blogDiv {
  position: relative;
  background-image: url("../public/images/blog.jpg");
  background-size: cover;
  z-index: 0;
}

.blogDiv::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.604);
  z-index: -1;
}


.aboutDiv {
  position: relative;
  background-image: url("../public/images/About.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.aboutDiv::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.604);
  z-index: -1;
}


.contactDiv {
  position: relative;
  background-image: url("../public/images/contact.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.contactDiv::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.604);
  z-index: -1;
}

.projectDetails {
  position: relative;
  background-image: url("../public/images/projectDetails.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.projectDetails::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.604);
  z-index: -1;
}



.bgColor1{
  background: #1CD8D2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93EDC7, #1CD8D2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93EDC7, #1CD8D2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bgColor2{
  background: #1CD8D2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93EDC7, #1CD8D2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93EDC7, #1CD8D2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}